* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

@import url('https://fonts.cdnfonts.com/css/share-tech-mono');
@import url('https://fonts.cdnfonts.com/css/nasalization');
@import url('https://fonts.cdnfonts.com/css/borgen');

body {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}


/* BARRA DE NAVEGAÇÃO */
.nav-container{
  display: flex;
  justify-content: space-between;
}

.bloco{
  animation: slideIn 0.5s ease-out forwards;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a2ff;
  height: 200px;
}

.bloco h2 {
  font-size: 35px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 1rem;
}

ul img {
  cursor: pointer;
  width: 40px;

}



.nav-logo P:hover{
  cursor: pointer;
  color: #00a2ff;
}
.nav-logo P{
  display: flex;
  font-family: 'Nasalization Rg', sans-serif;
  width: 100px;                          
  cursor: pointer;
  margin: 20%;
}

.nav-logo2{
  display: flex;
  justify-content: flex-end;
}



/* SOBRE MIM */
.welcome-section {
  animation: slideIn 1.0s ease-out forwards;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome-section h1 {
  font-family: 'Nasalization Rg', sans-serif;
  font-size: 50px;
  margin: 0;
}

.welcome-section p {
  font-family: 'Borgen', sans-serif;
                                                
  font-size: 20px;
  margin: 0;
  max-width: 500px;
}

.habilidades img{
  width: 50px;
  border-radius: 50%;
}

.habilidades img:hover{
  box-shadow: 0px 0px 10px;
  color: #00a2ff;
}



.habilidades {
  
  cursor: pointer;
  animation: slideIn 1.0s ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline;
  margin: 5px;
  margin-bottom: 20px;
  
}

.welcome-section .profile-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  
}

.foto img{
  box-shadow: 0 0 50;
  color: #00a2ff;
}


/* GALERIA DE PROJETOS */
.gallery {

  background-image: url("");
  
  animation: slideIn 1.0s ease-out forwards;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery h2{
  font-family: 'Borgen', sans-serif;
                                                
}

.project {
  width: 300px;
  margin: 20px;
  text-align: left;
}

img {
  width: 100%;
  height: auto;
}

.project img {
  box-shadow: 1px 1px 1px 1px;
  color: #00a2ff;
}

.project img:hover{
  color: white;
}


/* RODAPÉ */
footer {
  animation: slideIn 1.0s ease-out forwards;
  padding: 50px;
  text-align: center;
}

#perfil{
  animation: slideIn 1.0s ease-out forwards;
}

#contact {
  animation: slideIn 1.0s ease-out forwards;
}

#contact h3{
  font-size: 25px;
  font-family: 'Borgen', sans-serif;                                          
}

#social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#social-icons a{
  cursor: pointer;
  font-family: 'Nasalization Rg', sans-serif;             
  margin: 20px;
  font-size: 13px;
  margin: 5px;
  box-shadow:  1px 1px 5px;
  color: black;
  border: 20px;
}

#social-icons a{
  text-decoration: none;
  color: black;
}

#social-icons a:hover {
  color: #00a2ff;
}

.barra{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: #00a2ff;
}

.barra:hover{
  color: white;
  box-shadow: 0px 0px 10px;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

/* RODAPÉ */

@media screen and (max-width: 768px) {
  body{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }  

  .habilidades {
    width: 100%;
  }

  .welcome-section{
    height: 100vh;
  }

  .nav-logo p{
    width: px;
  }
  .nav-logo2 img{
    width: 35px
  }
};